<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="form-group">
        <label for="Titre">
          Titre
        </label>
        <input type="text" id="titre" name="titre" class="form-control" ngModel required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Post</label>
        <textarea class="form-control" id="post" name="post" rows="3" ngModel required></textarea>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="f.invalid">Enregistrer</button>
    </form>
  </div>
</div>